{% extends 'base.html' %}

{% block content %}
<form method="POST">
<div class="mb-3">
    <label for="InputPassword" class="form-label">Старый пароль</label>
    <input type="password" name="old_password"  class="form-control " id="OldInputPassword">
  </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Новый пароль</label>
    {%if errors is defined%}
        {%if "password_error" in errors.values()%}
            <input type="password" name="new_password"  class="form-control is-invalid" id="NewInputPassword">
            {%for error,error_type in errors.items()%}
            {%if error_type=="password_error"%}
              <span class="text-warning">{{error}}</span>
            {%endif%}
          {%endfor%}
        {%else%}
            <input type="password" name="new_password"  class="form-control" id="NewInputPassword">   
        {%endif%}
    {%else%}
        <input type="password" name="new_password"  class="form-control" id="NewInputPassword">
    {%endif%}
    </div>
  <div class="mb-3">
    <label for="InputPassword" class="form-label">Повторите новый пароль</label>
    <input type="password" name="repeat_new_password"  class="form-control " id="RepeatNewInputPassword">
  </div>
  <button type="submit" class="btn btn-primary">Отправить</button>
</form>
{% endblock %}