{% extends 'base.html' %}

{% block additional_links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="title-area  position-relative" >
    <div class="  py-5 text-center" style="background-color: rgba(0, 0, 0, 0.65);">
        <div class="m-auto py-5 text-white">
            <h1 class="title mb-3 py-5 font-weight-bold">{{book[0].name}} </h1>
            <p>Рейтинг книги {{ratings[0].avg_rating}}</p>
        </div>
    </div>
</div>

<div class="container mt-5">
    <div>
    <section class="about mb-5">
        <h2 class="mb-3 text-center text-uppercase font-weight-bold">О книге</h2>
        <div class="d-flex row justify-content-around ">
            <div class="col-md-8 col-sm-10 mt-5">
                        <p>Автор: {{ book[0].author }}</p>
                        <p>Год выпуска: {{ book[0].year }}</p>
                        <p>Издатель: {{book[0].publisher}}</p>
                        <p>Жанры: {{ book[0].genres_name }}</p>
            </div>
            <div class="col-md-4 col-sm-10 text-center">
                <img class="img-fluid" width="250" height="500"  src="{{ url_for('image', filename=book[0].filename) }}">
            </div>
            <div class="container mt-3">
                {{book_description|safe}}
            </div>
        </div>
        
    
    </section>
</div>
<div class="text-center mt-3">
    <a class="btn btn-primary my-2" href="{{url_for('reviews.index', book_id=book[0].id)}}">Все отзывы</a>
</div>



<script src="https://cdn.jsdelivr.net/npm/easymde/dist/easymde.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>

{% endblock %}